/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "DM Sans", sans-serif;
  background: #0b1020;
  color: white;
  overflow-x: hidden;
}

/* FONTS */
h1, h2, h3, .logo {
  font-family: "Syne", sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 800;
}

.nav-btn {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
}

/* LEFT */
.hero-left {
  max-width: 50%;
}

.headline {
  font-size: 52px;
  line-height: 1.1;
}

.ai-text {
  color: #4da3ff;
}

.subtext {
  margin-top: 15px;
  opacity: 0.8;
}

/* CTA */
.cta-card {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255,255,255,0.06);
  padding: 15px;
  border-radius: 16px;
  cursor: pointer;
}

.arrow {
  margin-left: auto;
  border: none;
  background: none;
  color: white;
  font-size: 20px;
}

/* BADGES */
.badges {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  opacity: 0.8;
}

/* ORB */
.hero-right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.orb-wrap {
  width: 260px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}.orb {
  width: 180px;
  height: 180px;
  border-radius: 50%;

  background: radial-gradient(circle at 30% 30%, #a855f7, #22c55e);

  box-shadow:
    0 0 60px rgba(168, 85, 247, 0.45),
    0 0 80px rgba(34, 197, 94, 0.35);

  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

/* FEATURES */
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px;
}

.feat {
  text-align: center;
  opacity: 0.9;
}

.feat-icon {
  font-size: 28px;
  margin-bottom: 10px;
}
